/* .box{
height: 200px;
width: 200px;
background-color: aliceblue;
border-radius: 100%;
margin: 20px;
text-align: center;
box-sizing: border-box;
font-weight: bold;

/* animation:  duration timing-function delay iteration-count direction fill-mode; */
/* animation-name: changecolor;
animation-duration: 3s;
animation-iteration-count: infinite;

}


@keyframes changecolor {
    from{
background-color: blue;
color: White;
box-shadow: 0 0 20px 10px black;

    }
    to{
background-color: chartreuse;
color: deeppink;
box-shadow: 0 0 20px 10px pink;
    }
}  */

/* Animation2 */


/* .box2{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: black;
    text-align: center;
    font-weight: bold;
    position: relative;
    animation-name: running;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes running {
    0%{
        top:0px;
        left: 0px;
        background-color: aqua;
    }
    25%{
        top: 0px;
        left: 1000px;
        background-color: yellow;
        transform: scale(1.5);
    }
    50%{
        left: 1000px;
        top: 700px;
        background-color: blueviolet;
    }
    75%{
        top: 700px;
        left: 0px;
        background-color: cadetblue;
    }
    100%{
        left: 0px;
        top: 0px;
        background-color: darkgreen;
    }
    
} */

/* Animation 3 */


h1{
    text-align: center;
    color: green;
    position: relative;
    animation-name: name;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes name {
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
    }
    
}
.loading{
    width: 40px;
    height: 40px;
    border: 5px solid green;
    border-top: 5px solid red;
    border-radius: 100%;
    position: relative;
    animation-name: load;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes load {
    form{
transform: rotate(0deg);
    }

    to{
transform: rotate(360deg);
background-color: aqua;
    }
    
}



.box3{
  border: 50px solid rgb(75, 184, 196);
  margin: 80px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
position: relative;
animation-name: running;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;


}

.boxe{
    background-color: yellow;
    width: 100px;
    height: 100px;
    color: white;
    border-radius: 100%;
}
.boxe img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    
}
p{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    animation-name: ptext;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}


@keyframes ptext {
    from{
margin-left: 100%;
width: 200%;
/* color:  green; */
    }
    to{
margin-left: 0px;
width: 100%;
color:green
    }
    
}

@keyframes running {
    form{
        transform: rotate(0deg);

    }
    to{
        transform: rotate(360deg);

    }
}

.heart{
    /* margin: 50px; */
    padding-left: 50px;
width: 100px;
height: 100px;
font-size: 30px; 
position: relative;
animation-name: heartbeat;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;

}
@keyframes heartbeat{
    0%{
transform: scale(1);
    }
    50%{
transform: scale(1.5);
    }
    100%{
transform: scale(1);
    }
}



.chead >div{
/* background-color: red; */
width: 100px;
height: 100px;
margin: 10px;
border-top: 5px solid black;
border-radius: 100%;
position: relative;
animation-name: run;
animation-duration: 1s;
animation-iteration-count: infinite;
/* animation-timing-function: linear; */
}

.c1{
    animation-timing-function: ease;
    background-color: aqua;
}
.c2{
    animation-timing-function: ease-in;
    background-color: black;
}
.c3{
    animation-timing-function: ease-in-out;
    background-color: blue;
    
}
.c4{
    animation-timing-function: ease-out;
    background-color: chartreuse;
}
.c5{
    animation-timing-function: linear;
    background-color: yellow;
}


@keyframes run {
    from{
transform: rotate(0deg);
left: 0px;
    }
    to{
transform: rotate(360deg);
left: 500px;
    }
}