.box >div {
    background-color: green;
    width: 200px;
    height: 200px;
    padding: 30px;
    box-sizing: border-box;
    color: white;
    font-size: 28px;
    font-weight: bold;
    /* margin: 10px; */
}
.box{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    height: 100vh;
    /* flex-direction: row-reverse; */
    border: 5px solid green;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item1{
    order: 1;
    /* flex-grow: 2; */
}

.item2{
    order: 2;
}

.item3{
order: 3;
}




