.container{
    width: 100%;
    height: 500px;
    border: 5px solid green;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr ;
    justify-content: center;
    align-content: center;
}
.container >div{
border: 4px solid black;
}
.box1{
    grid-column-start: 1;
    grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 3;
    background-color: aquamarine;
}
.box2{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: red;
}


























