p{
    background-color: aqua;
    color: white;

}
/* @media(max-width:700px){
    p{
        background-color: blue;
    } */

/* } */
h1{
    text-align:center ;
    color: red;
}
@media(min-width:700px){
    p{
        background-color: blue;
    }

}
@media (max-width:480px) {
    h1{
        color: green;
    }
}
@media (min-width:481px) and (max-width:768px){
    h1{
        color: aqua;
    }
}
@media (min-width:769px)and(max-width:1279px) {
    h1{
        color: black;
    }
}
@media (min-width:1280px) {
    h1{
        color: yellow;
    }
}