body{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin-top: 5px;
background-color: whitesmoke;
width: 300px;
padding: 20px;
margin: 10px 10px 10px 10px;
border-radius: 16px;
box-shadow: 0px 8px 16px rgba(12, 12, 12,.61);
text-align: center;
}
.card img{
    border-radius: 16px;
    width: 100%;
    margin: auto;
}
.card h2 ,p{
    color: green;
    font-weight: bold;
}

.icon a{
color: green;
}
.cont{
   margin: 10px 10px 10px 10px;
    width: 300px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(12, 12, 12,.61);
}
.tttt{
    border: 3px solid green;
}

